// Font Family
$font-1: 'Montserrat', sans-serif;


// Colors ---------------
$white: #fff;
$black: #222;
$gray: #f7f7fd;


// Theme Color
$theme-color: #ff8257;


//Body Color
$body-color: #666e82;


// Border Color
$border-color: #eceff8;


// Heading Color
$heading-color: #2e3d62;


// Soft color
$black-soft: #7e7e7e;


// Responsive Variables
$desktop: 'only screen and (min-width: 1400px)';
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';


